.venv
__pycache__
.stfolder
.vscode
apps
build
dist
Output
Tests
account.txt
id.txt
JadeAppsVersion.txt
JadeAuthVersion.txt
jadeLauncherConfig.bak
jadeLauncherConfig.dat
jadeLauncherConfig.dir
JadeLauncherLog.txt
magic.mp3
pyinstall.py
updateMac.sh
account.bak
account.dat
account.dir
Jade Auth.exe
jadeauthlog.txt